.funeral {
  margin: 12px;
  border: 2px solid blue;
  padding: 2px;
  background-color: orange;
}

body {
  font-family: sans-serif;
}

.funeral p {
  font-weight: bold;
  color: blue;
}

.grand {
  color: pink;
}

h1 {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}

.project p {
  margin: 12px;
  padding: 2px;
  float: left;
}

.project ul {
  margin: 12px;
  padding: 2px;
  float: left;
}

.project ol {
  margin: 12px;
  padding: 2px;
  float: left;
}

.panel {
  border: 2px solid green;
}

.jumbotron {
  text-align: center;
}
